<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{'dark-theme-mode':isDarkTheme}">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-toolbar color="primary">

            <div class="top-toolbar">
                <a href="#" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
            </div>

        </mat-toolbar>


        <mat-nav-list>

            <div class="nav-img">
                <div mat-card-avatar class="header-image"></div>
            </div>

            <mat-divider></mat-divider>

            <a mat-list-item routerLink="dashboard" class="nav-item" (click)="hidden = true">
                <mat-icon aria-hidden="false">dashboard</mat-icon>
                <span style="padding: 10%;"></span> Dashboard
            </a>
            <mat-divider></mat-divider>
            <!-- (click)="hidden = true; drawer.close()" -->
            <a mat-list-item routerLink="file" class="nav-item" (click)="hidden = true">
                <mat-icon aria-hidden="false">record_voice_over</mat-icon>
                <span style="padding: 10%;"></span> File Uploader
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item routerLink="add" class="nav-item" (click)="hidden = true">
                <mat-icon aria-hidden="false">drive_eta</mat-icon>
                <span style="padding: 10%;"></span> Vehicle Add
            </a>

            <mat-divider></mat-divider>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenavcon">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>

                <div>
                    <h1>Vehicle Data Uploader</h1>
                </div>

                <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                    <ul fxLayout="row" fxLayoutGap="20px">

                        <li>
                            <div class="example-button-container">
                                <button mat-icon-button (click)="notify()">
                                    <mat-icon matBadge="{{notifList.length}}">add_alert</mat-icon>
                                </button>
                            </div>
                        </li>
                        <li>
                            <mat-slide-toggle [(ngModel)]="isDarkTheme">
                                <mat-icon>nights_stay</mat-icon>
                            </mat-slide-toggle>
                        </li>
                        <li>
                            <div class="example-button-container">
                                <button mat-mini-fab [matMenuTriggerFor]="logOut"
                                    aria-label="Example icon button with a home icon">
                                    <mat-icon>face</mat-icon>
                                </button>
                            </div>

                            <mat-menu #logOut="matMenu" class="nav-item">
                                <button mat-menu-item class="nav-item">Settings</button>
                                <button mat-menu-item routerLink="/login" class="nav-item">Logout</button>
                            </mat-menu>
                        </li>
                    </ul>
                </div>


            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>